.filtersContiner{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.9375rem;
    border: 0.0625rem solid rgb(240, 240, 240);
    box-shadow: 0 0 2.75rem -0.3125rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.25rem 0.3125rem 1.25rem;
}
.inputsContainer{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.powerText{
    color: #333;
}