.inputContainer{
    border-radius: 0.5rem;
    border: 0.0625rem solid rgb(227, 227, 227);
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 3rem;
    padding: 0rem 0.625rem;
    flex: 1;
}
.icon{
    color: rgb(202, 202, 202);
}
.input{
    all: unset;
    height: 100%;
    flex: 1;
    color: #333;
    &::placeholder{
        color: rgb(180, 180, 180);
    }
}